* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
.background {
  background: url('https://media.metrolatam.com/2018/01/22/justiceleagueavengersdccomicsmarvelportada-1200x600.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  padding: 30px;
}
