.container {
  background: rgba(240, 50, 30, 0.8);
  margin: 40px auto;
  width: 96%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 6px #000, inset 3px 3px 5px #fff;
}
.myteam {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.myteam h2 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  width: 100%;
}
.myteam .btn-team {
  background: rgba(60, 60, 60, 0.8);
  color: #fff;
  font-size: 18px;
  padding: 5px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
}
.myteam .btn-team:hover {
  background: rgba(120, 120, 120, 0.8);
  color: #000;
  transition: 0.4s;
}
